body {
  background-color: #141414;
  font-family: sans-serif;
  color: #FFFFFF;

}



header img {
  width: auto;
  height: 40px;

}

header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: black;

}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: auto;
}





header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px;
}


nav a {

  margin-left: 20px;
  padding-top: 12px;
  float: left;
  position: relative;
}


nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.719);
  font-weight: bold;
}

nav a::before {
  display: block;
  content: '';
  width: 0%;
  background: #444;
  height: 5px;
  top: 0;
  position: absolute;
  transition: width 0.2s;
}

nav a:hover::before {
  width: 100%;

}

nav a:hover,
nav a.active {
  color: #FFFFFF;
}

/*   main pagina */

section .contenedor {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;

  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
 
 
}

section .contenedor .descripcion {
  display: flex;

}
section .contenedor h1{
  border-top:solid ;
border-top-style:outset;
border-width: 0.01px ;
padding-top:21.24px ;
text-align: start;
}


section .contenedor img {
  margin: 25px;
  width: 160px;
  height: 220px;

}

section .contenedor .img {
  width: 30%;
}

section .contenedor .texto {
  width: 70%;
  text-align: start;
}

section .contenedor .texto h1{
  text-align: start;


}
section .contenedor h1,
ul,
li {
  text-align: center;
  list-style: none;
  align-items: center;
  


}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
padding-bottom: 20px;

}
section .pasarcapitulos{
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 20px;
padding-bottom: 50px;
}
section a {
  text-decoration: none;
  color: #FFFFFF;
}
section .pasarcapitulos .boton {
  background: rgba(0, 0, 0, 0.50);
  border: none;
  border-radius: 0px;
  padding: 0.93em 1.87em;
  color: #FFFFFF;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em;
  width: 50%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 1px;


}

section .contenedor{
  border-radius: 10px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.50);

}
section .pasarcapitulos .boton:hover {
  background-color: #FFFFFF;
  color: #000;
}

section .pasarcapitulos{
  border-top: gray solid ;
  border-top-style:outset;
  border-width: 0.01px ;
}

/*    Pie de pagina */


.pie-pagina {
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
}

.pie-pagina .grupo-1 {
  width: 100%;
  margin: auto;
  max width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;

}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.pie-pagina .grupo-1 .box figure img {
  width: 200px;
}

.red-social img {
  width: 40px;
  height: 40px;
}


.pie-pagina .grupo-2 {
  background-color: #141414;
  padding: 15px 10px;
  text-align: center;
  color: White;
}



footer h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* animacion hover en el footer */
footer .red-social img:hover {
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
  transform: scale(1.15);
  transition: all 500ms;
}






@media screen and (max-width: 800px) {
  header .contenedor img {
    margin-bottom: 10px;
    height: 30px;

  }

  header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;

  }

  header .contenedor {

    align-items: center;
    width: 90%;
    margin: auto;
  }



  header nav {
    padding-left: 20px;
  }


  header .contenedor {
    flex-direction: column;
    text-align: center;
  }




  header .contenedor a {
    padding: 2px;
    justify-content: center;
  }

  .contenedor img {
    width: 100px;
    height: 140px;
  }

  section .contenedor {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
   
   
  }

  section h1{
    font-size: 16px;

  }
section .contenedor .img {
  width: 60%;
}

section .contenedor .texto {
  width: 50%;
  text-align: start;
}
  footer {
    font-size: 12px;

  }

  .pie-pagina .grupo-1 .box figure img {
    width: 90px;



  }

  .red-social img {
    width: 20px;
    height: 20px;
  }

  .pie-pagina .grupo-2 {
    background-color: #141414;
    padding: 7px 5px;
    text-align: center;
    color: White;
  }


  .pie-pagina .grupo-1 {
    width: 80%;
    margin: auto;
    max width: 300px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    grid-gap: 10px;
    padding: 25px 0px;

  }

  .pie-pagina .grupo-1 .box figure {
    margin-left: 8px;
  }

  footer {
    font-size: 12px
  }

}